@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');


* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    /* overflow: hidden; */
    font-family: 'Space Grotesk', sans-serif;
}

.top-container {
    height: 40vh;
    background-color: #48B8C6;
}

.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

#form {
    width: 600px;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}

#form h1 {
    font-style: italic;
    text-shadow: 1px 1px darkgray;
    font-size: 40px;
}

#form input {
    width: 300px;
    padding: 14px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid lightgray;
    font-family: inherit;
    outline: none;
    box-shadow: 2px 2px 5px gray;
}

#form button {
    padding: 14px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    cursor: pointer;
    font-family: inherit;
    box-shadow: 2px 3px 5px gray;
    transition: 0.3s ease-out;
}

#form button:hover {
    color: white;
    background-color: #48B8C6;
    border: 1px solid #48B8C6;
    transform: scale(1.1);
}

.errors {
    width: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    padding: 12px;
    color: red;
    background-color: #d0f8fe;
    border: 1px solid #48B8C6;
}

.success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: black;
}

#download-btn {
    width: fit-content;
    color: black;
    padding: 12px;
    color: white;
    background-color: #48B8C6;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 2px 2px 5px gray;
    font-style: normal;
    cursor: pointer;
    letter-spacing: 1px;
    font-family: inherit;
    border: 1px solid #48B8C6;
    transition: 0.3s ease-out;


}

#download-btn:hover {
    color: black;
    background-color: white;
    border: 1px solid lightgray;
    transform: scale(1.1);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 30%;

}

.footer-icon {
    margin-right: 4%;
}

.info {
    background: #d0f8fe;
    height: 50%;
    width: 40%;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: auto;
    border-radius: 15px;
    margin-top: 2%;
    color: black;
    text-align: center;


}

.info-heading {
    margin-top: 2%;
    margin-bottom: 2%;
}

.info-text {
    padding-left: 2%;
    padding-right: 2%;
    text-align: left;
    margin-bottom: 2%;
}

.youtube-id {
    color: red;
    font-size: 16px;
}


@media(max-width:768px) {
    .bottom-container {
        width: 90%;
        margin: auto;
    }

    #form,
    .success {
        text-align: center;
        width: 100%;
    }

    .info {
        height: 50%;
        width: 40%;
    }
}

@media(max-width:480px) {
    #form input {
        width: 50%;
    }

    .info {
        height: 50%;
        width: 40%;
    }
}